<div class="jumbotron text-center bg-light p-5 rounded border">
    <h1 class="display-4 text-dark">@ViewData["HomeTitle"]</h1>
    <p class="lead mt-3">@ViewData["WelcomeMessage"]</p>
   
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary btn-sm">Add New Product</a>
</div>